* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

div .card{
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  margin: 20px;
}

div .title{
  padding: 20px;
  list-style: none;
}

.driver-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #61dafb;
  height: 150px;
  margin: 20px 50px 20px 50px;
  border-radius: 10px;
}

.driver-card img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}


div.table tbody tr {
  display: flex;
  flex-wrap: wrap;
}

div.table tbody tr td{
  border: 2px solid black;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  background-color: red;
}

.white {
  background-color: #ffffff;
}

section.fb-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px
}

.blue-button {
  background-color: rgb(131, 213, 213);
  border: 1px solid #949494;
  padding: 5px 10px;
}

.white-button {
  background-color: white;
  border: 1px solid #949494;
  padding: 5px 10px;
}

.blue-background {
  background-color: rgb(131, 213, 213);
}

.white-background {
  background-color: white;
}